String WIFI_SSID = "my-network";
String WIFI_PASS = "my-password";

String BINARY_SERVER_ADDRESS = "127.0.0.1";
int BINARY_SERVER_PORT = 8000;

String TREND_SERVER_ADDRESS = "127.0.0.1";
int TREND_SERVER_PORT = 8000;
